<!-- ko if: isDisplayedCustomdiscount() -->
<tr class="totals customdiscount excl">
    <th class="mark" colspan="1" scope="row" data-bind="text: custom_discount"></th>
    <td class="amount">
        <span style="color: red" class="price" data-bind="text: getCustomDiscount(), attr: {'data-th': custom_discount}"></span>
    </td>
</tr>
<!-- /ko -->
