<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Mageplaza\GiftCard\Block\Account\Dashboard\History $block */
?>
<div class="block block-dashboard-addresses">
    <div class="block-title">
        <strong><?= $block->escapeHtml(__('History')) ?></strong>
    </div>
    <div class="block-content">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Code</th>
                <th scope="col">Amount</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>

            <?php foreach($block->getHistory() as $value): ?>
                    <tr>
                        <td><?=date_format(date_create($value['action_time']),"Y/m/d");?></td>
                        <td><?=$block->getGiftCard($value['giftcard_id'])->getData('code');?></td>
                        <td><?= $block->formatPrice($value['amount']);?></td>
                        <td><?=$value['action'];?></td>
                    </tr>
            <?php endforeach;?>
            </tbody>
        </table>
    </div>
</div>
