<?php

/** @var \Mageplaza\GiftCard\Block\Account\Dashboard\Info $block */
?>
<div class="block block-dashboard-info">
    <div class="block-title"><strong>Gift Card Infomation</strong></div>
    <div class="block-content">
        <div class="box box-information">
            <strong class="box-title">
                <span>Balance</span>
            </strong>
            <div class="box-content">
                <p>
                    <?php echo $block->getBalance();
                     ?>
                </p>
            </div>
        </div>
            <div class="box box-newsletter" id="redeem">
                <strong class="box-title">
                    <span>Redeem</span>
                </strong>
                <div class="box-content">
                    <form style="display: flex; align-items: center" class="form" action="#" method="post">
                            <input style="width: 200px; margin-left: 0;" name="code" type="text" placeholder="Enter your gift card code" required>
                            <button class="action subscribe primary" title="Subscribe" type="submit" aria-label="Subscribe">
                                <span>Redeem</span>
                            </button>
                    </form>
                </div>
            </div>
    </div>
    <script>
        var phpVar = '<?php echo $block->DisplayReedem(); ?>';
        if (phpVar == 0) {
            document.getElementById("redeem").style.display = 'none';
        }else {
            document.getElementById("redeem").style.display = 'block';
        }

    </script>
</div>
